.head, .shortHead {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.shortHead {
    background-color: #1e3551;
}

.head a, .shortHead a {
    text-align: center;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.head a {
    padding: 40px 1.5rem;
}

.shortHead a {
    padding: 20px 1.5rem;
}

.head a:hover {
    transform: translateY(-5px);
    text-shadow: 1px 5px 3px #000000;
}

.shortHead a:hover {
    background-color: #346678;
}

.shortHead .selected {
    background-color: #1e4551;
}

@media (max-width: 900px) {
    .head, .shortHead {
        font-size: 12px;
    }

    .head a {
        padding: 30px 0.7rem;
    }

    .shortHead a {
        padding: 20px 0.7rem;
    }
}